{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATA Login</title>
    <link rel="stylesheet" href="{% static 'css/reglog.css' %}"> 
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <h1>Log in</h1>
            <div>
                {% for message in messages %}
                <h5>
                    {{ message }}
                </h5>
                {% endfor %}
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <!-- Username Input -->
                <div class="input-group">
                    <input type="text" name="username" placeholder="Username" required>
                </div>

 <!-- Password Input -->
        <div class="input-group password-container" style="position: relative;">
            <input type="password" name="password" id="password" placeholder="Password" >
            <span class="toggle-password" onclick="togglePasswordVisibility()">
                <img id="eye-icon" src="{% static 'images/hide.png' %}" alt="Show Password"> 
            </span>
        </div>
        <!-- Remember Me and Forgot Password -->
        <div class="options">
            <div class="checkbox-container">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember Me</label>
            </div>
            <a href="#">Forgot Your Password?</a>
        </div>
        <!-- Login Button -->
        <button class="btn-submit">Login</button>
        <!-- Footer -->
        <div class="footer-text">
            <p>Not registered? <a href="/signup">Create an account</a></p>
        </div>
    </div>
    <script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('password');
            const eyeIcon = document.getElementById('eye-icon');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.src = "{% static 'images/view.png' %}"; // Switch to 'hide' icon
            } else {
                passwordInput.type = 'password';
                eyeIcon.src = "{% static 'images/hide.png' %}"; // Switch back to 'show' icon
            }
        }
    </script>
</body>
</html>
