{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATA Register</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="container">
        <div>
            <h1>Register</h1>
            <div>
                {% for message in messages %}
                <h5>
                    {{ message }}
                </h5>
                {% endfor %}
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <!-- Username Input -->
                <div class="input-group">
                    <input type="text" name="username" placeholder="Username" required>
                </div>

                <!-- Password Input -->
                <div class="input-group password-group">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <span class="toggle-password" onclick="togglePasswordVisibility('password')">👁️</span>
                </div>

                <!-- Confirm Password Input -->
                <div class="input-group password-group">
                    <input type="password" name="password2" id="confirm-password" placeholder="Confirm Password" required>
                    <span class="toggle-password" onclick="togglePasswordVisibility('confirm-password')">👁️</span>
                </div>

                <!-- Terms and Conditions -->
                <div class="checkbox-group">
                    <input type="checkbox" id="terms" required>
                    <label for="terms">I agree to the <a href="#">Terms and Conditions</a></label>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn-submit">Register</button>

                <!-- Link to Login -->
                <div class="footer-text">
                    <p>Already have an account? <a href="/signin">Log in</a></p>
                </div>
            </form>
        </div>
    </div>

    <script>
        function togglePasswordVisibility(inputId) {
            const input = document.getElementById(inputId);
            if (input.type === "password") {
                input.type = "text";
            } else {
                input.type = "password";
            }
        }
    </script>
</body>
</html>
